<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  <handlers>
    <add name="PythonHandler"
    path="*" verb="*"
    modules="FastCgiModule"
    scriptProcessor="c:\python37-32\python.exe|c:\python37-32\lib\site-packages\wfastcgi.py"
    resourceType="Unspecified"
    requireAccess="Script"/>
  </handlers>
</system.webServer>

<appSettings>
  <add key="PYTHONPATH" value="c:\inetpub\wwwroot\CMS"/>
  <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()"/>
  <add key="DJANGO_SETTINGS_MODULE" value="CMS.settings" />
</appSettings>
</configuration>
